* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #101357;
    --secondary-color: white;
    --tertiary-color: gold;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 25px 25px;
    background: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
}

header h1 {
    font-weight: bold;
    font-size: 3.0vw;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header p {
    color: var(--tertiary-color);
    margin: 5px 0 20px;
    font-size: 2.0vw;
}

footer {
    width: 100%;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2.0vw;
    padding: 20px;
    border-top: 5px solid var(--secondary-color);
}

/* BUTTON STYLE */

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--tertiary-color);
    font-size: 1.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
  }
  
  .btn:hover {
    box-shadow: 0 2px var(--grey);
    opacity: .9;
    background-color: #f5f2d0 ;
  } 
  .btn:active {
    box-shadow: 0 0px var(--grey);
    opacity: .9;
    background-color: #f5f2d0 ;
  }

/* DROP DOWN STYLE */

.select-dropdown,
.select-status {
  display: block;
  font-size: 1.2rem;
  color: #444;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 2px solid var(--grey);
  border-radius: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-status {
  font-size: 1.4rem;
  padding: 4px 28px 4px 4px;
  width: auto;
}

.select-dropdown::-ms-expand,
.select-status::-ms-expand {
  display: none;
}

.select-dropdown:hover,
.select-status:hover {
  border-color: #888;
}

.select-dropdown:focus,
.select-status:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-dropdown option,
.select-status option {
  font-weight: normal;
  font-size: 2rem;
}

/* HEADER GRID LAYOUT */

.flex-row {
    display: flex;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-auto-rows: minmax(200px, auto);
    flex-wrap: wrap;
    width: 100%;
}

.wrapper > div {
    border: #333 1px dashed;
    padding: 1em;
    flex-wrap: wrap;
}

.slot1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slot2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slot3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slot4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* MAIN SECTION */

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background: var(--tertiary-color);
}

.main-form {
    background-color: grey;
    padding: 20px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    border-radius: 15px;
    width: 100%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.main-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-form h3 {
    font-size: 24px;
    margin: 0;
}

.main-form p {
    margin: 5px 0 15px 0;
}

form .form-group {
    margin: 10px 6px 10px 0;
    flex: 1;
  }

.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
    background-color: grey;
    outline: none;
}

.main-form label {
    margin: 0 5px;
}

.main-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.main-form button:hover {
    background-color: var(--tertiary-color);
}

.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, #39a6b2, #024e76);
}

.checkbox-wrapper label:after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, .radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after {
    content: "";
}

/* MAIN GRID LAYOUT */

.wrapper2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-auto-rows: minmax(auto, auto);
    flex-wrap: wrap;
}

.wrapper2 > div {
    border: #333 1px dashed;
    padding: 1em;
    flex-wrap: wrap;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1, header p {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    header h2, footer div {
        text-align: center;
        width: 100%;
    }

    .main-cta, .main-form {
        width: 100%;
    }

    .main-cta {
        text-align: center;
    }

    .wrapper {
        flex: 0 75%;
    }

    .section-title {
        width: 80%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
    }

    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .wrapper2 {
        display: block;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    .wrapper, .wrapper2 {
        display: block;
    }

}