* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #762d2dcc;
    --secondary-color: white;
    --tertiary-color: gold;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 25px 25px;
    background: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
}

header h1 {
    font-weight: bold;
    font-size: 3.0vw;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header p {
    color: var(--tertiary-color);
    margin: 5px 0 20px;
    font-size: 2.0vw;
}

footer {
    width: 100%;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2.0vw;
    padding: 20px;
    border-top: 5px solid var(--secondary-color);
}

/* MAIN SECTION */

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background: var(--tertiary-color);
}

.main-form {
    background-color: grey;
    padding: 20px;
    color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-color: var(--secondary-color);
    border-radius: 15px;
    width: 60%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.main-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-form h3 {
    font-size: 24px;
    margin: 0;
}

.main-form p {
    margin: 5px 0 15px 0;
}

form .form-group {
    margin: 10px 6px 10px 0;
    flex: 1;
  }

.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.main-form label {
    margin: 0 5px;
}

.main-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.main-form button:hover {
    background-color: var(--tertiary-color);
}

.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, #39a6b2, #024e76);
}

.checkbox-wrapper label:after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, .radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after {
    content: "";
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    header h2, footer div {
        text-align: center;
        width: 100%;
    }

    .main-cta, .main-form {
        width: 100%;
    }

    .main-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }

    .service-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .service-grid-item.basic {
        grid-column: 1;
    }

    .service-grid-item.both {
        grid-column: 1 / -1;
    }

    .service-grid-item.cancel {
        transform: none;
        writing-mode: unset;
        grid-column: 1 / -1;
        grid-row: -1;
    }

    .trainer-img h3, .trainer-img h4, .trainer-img::after {
        display: none;
    }
    
    .trainer-bio h3, .trainer-bio h4 {
        display: block;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .main-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}